<body background="https://media.giphy.com/media/3oz8xYl6XFdmEB4feM/giphy.gif">
<center><h1 style=color:red><%=p1_name%> Wins!</h1></center>
<center><img src="http://www.renders-graphiques.fr/image/upload/normal/One_Piece-Silhouette_Luffy_TBC.png"></center>
<center><h1 style=color:red><%=p2_name%> is the Loser!</h1></center>
<center><h1 style=color:red>word was <%=word%></h1></center>
<center><a href="/">play again</a></center>