<body background="http://bestanimations.com/Humans/Skulls/skull-flame-burning-animation-gif-8.gif">
<center><h1 style=color:red>Welcome to Hangman !!!</h1>
<h4 style="color:yellow" >Please enter your names?</h4>
<form action='player_names' method="post">
	<h3 style=color:violet>
	Player1
	<input type="text" name="player1">	
	<br>
	<h1 style=color:red>VERSUS</h1>
	<h3 style=color:violet>Player2
	<input type="text" name="player2">
	</br>
	<input type="submit" value="ENTER">
</body>
</form>
</center>
</body>
<center><img src ="https://s-media-cache-ak0.pinimg.com/736x/72/cd/14/72cd14ffefbd2ece609c08d036c6b4de.jpg"></center>