<body background="http://now-here-this.timeout.com/wp-content/uploads/2012/12/url-71.gif">
<center><h1 style =color:violet><%=p1_name%>  Please pick a word for <%=p2_name%> to play hangman with !!</h1>
<center><h1 style =color:lightgreen><%=p2_name%> You will be guessing <%=p1_name%> 's word GOODLUCK!!!</h1>
<form action="secret_password" method="post">
<input type="password" name="word">
<input type="submit">
</form>
</body>
</center>
<img src="https://res.cloudinary.com/teepublic/image/private/s--Eo72ziCN--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1471386681/production/designs/635586_1.jpg">
